.container {
    max-width: 75rem;
    margin: 0 auto;
    padding: 1.25rem;
}

.text-center {
    font-family: 'Arial', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 2.5rem;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.25rem;
}

.card {
    border: none;
    border-radius: 0.625rem;
    overflow: hidden;
    box-shadow: 0rem 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:not(.filter-card):hover {
    transform: translateY(-0.3125rem);
    box-shadow: 0rem 0.75rem 1.5rem rgba(0, 0, 0, 0.2);
}

.d-flex {
    justify-content: flex-end;
    align-items: center;
}

.quantity-input {
    width: 3.125rem;
    height: 1.875rem;
    text-align: center;
    margin-right: 0.625rem;
}

button:hover {
    background-color: #218838;
    cursor: pointer;
}

.small-placeholder::placeholder {
    font-size: 0.85rem;
    color: #595959;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 12rem;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 4.5rem;
    line-height: 1.4rem;
}

.card-text {
    flex-grow: 1;
    color: #666;
    font-size: 0.9rem;
}

.card-actions {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

@media (max-width: 75rem) { /* 1200px */
    .product-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 62rem) { /* 992px */
    .product-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 48rem) { /* 768px */
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 30rem) { /* 480px */
    .product-grid {
        grid-template-columns: 1fr;
    }
}
